




.titre {


background-color: #f3ecc9;
    font-family: "Comic Sans MS"!important;

}


 p {

    font-family: "Comic Sans MS"!important;
}


 .bloc1.bloc2

 {
     width: 5px;
 }

 .titre {

     width: 120rem;
 }