@import "../../main.css";



.diplome {

    color: white!important;
    left:50px;
    top:100px;

}

.experience {
    color: white!important;
    left:50px;
    top :
        350px;

}

.centre{
    color: white!important;
    left:50px;
    top :
            600px;

}
h2 {
    color: white!important;
}
/* carousel */
#quote-carousel
{
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
    background: #333333;
}
#quote-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.template.active .carousel{


    box-shadow: 60px -16px rgba(0,0,0,0.09);
    transform: perspective(1000px) rotateY(-10deg) translateZ(310px) scale(0.5);
    left: 8%;
}

.template.active .links {
    height: 79vh;
    width: 25%;
    left: 0;
    display: block;
    margin-top: -60px;
}






/**
  MEDIA QUERIES
*/




@media only screen and (max-width: 600px) {




  .carousel {

      position: static;
      margin-top: 0;

  }

    .diplome {

        color: #ffffff;
        left:50px;
        top:-250px;

    }

    .experience {
        color: #ffffff;
        left:50px;
        top :
                0px;

    }

    .centre{
        color: #ffffff;
        left:50px;
        top :
                250px;

    }

    .navbar {

        top: 0;
    }

    .template.active .carousel{

        animation: none;
        transform:none;
        position: relative;
        margin-top: 260px;
        box-shadow: none;

    }

    .template.active .links {
        height: 79vh;
        width: 25%;
        left: 0;
        display: block;
        margin-top: 0px;
    }


}