


/* ++++++++++++++++++++++++++++++++++++++++
   ++++ STYLE GENERAL
   ++++++++++++++++++++++++++++++++++++++++ */


@import url('https://fonts.googleapis.com/css?family=Girassol|Lobster|Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(206, 183, 183, 0.4), rgba(206, 183, 183, 0.4)), url('../images/images/arriere.jpg');
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.joueur-1-panel, .joueur-2-panel {
    width: 50%;
    float: left;
    padding: 100px;
    font-family: 'Girassol', cursive;
}

/* ++++++++++++++++++++++++++++++++++++++++
   ++++ STYLE JEU
   ++++++++++++++++++++++++++++++++++++++++ */

.nom-joueur {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.score-joueur {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 50px;
}


.template.active .wrapper {


    transform: rotate(10deg) scale(0.5) translate(-100%, -100%);
}


.active .nom-joueur {
    font-weight: 300;
}

.active .nom-joueur::after {
    font-family: Lato;
    content: '\2022';
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
}

.joueur-courant-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.joueur-courant-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
    color: #222;
}

.joueur-courant-score {
    font-size: 25px;
}

/* ++++++++++++++++++++++++++++++++++++++++
   ++++ STYLE BOUTTON
   ++++++++++++++++++++++++++++++++++++++++ */

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: 600;
}

button:hover i {
    margin-right: 20px;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.5s;
}

.btn-nouveau {
    top: 45px;
}

.btn-lancer {
    top: 360px;
}

.btn-commuter {
    top: 410px;
}

.de {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.vainqueur {
    background-color: #f7f7f7;
}

.vainqueur .nom-joueur {
    font-weight: 300;
    color: #17a623;
}

.modal-body , .modal-title{

    font-weight: bold;
}

@media only screen and (max-width: 600px){




    body {

        background-color: #585a5b;
    }

    .float-right {
        float: left !important;
    }


    .wrapper  {

        display: flex;
        width: 500px;
        flex-direction: column;
        background-color: transparent;
        transform: none;
        position: relative;
        left: 0;
        top: -210px;
    }



    .joueur-1-panel {
        padding: 0;
        font-size: 20px;
        width: 350px;
        height: 300px;
        background-color: white;
        display: block;
        border: solid 3px black;
        margin-top: 300px;
    }


    .joueur-2-panel {
        padding: 0;
        margin-top: 30px;
        width: 350px;
        height: 300px;
        font-size: 20px;
        background-color: white;
        display: block;
        border: solid 3px black;
    }

    .bouttons {

        margin-top: 20px;
        background-color: white;
        width: 350px;
        height: 300px;
        border: solid 3px black;
        text-align: center;
    }

    .joueur-courant-box {

        width: 20%;

    }



    .score-joueur {
        text-align: center;
        font-size: 40px;
        color: #EB4D4D;
        margin-bottom: 0px;
    }

    .joueur-courant-box {
        background-color: #EB4D4D;
        color: #fff;
        width: 100px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
    }



    button {

        width: 200px;
        position: static;
        transform: none;
        color: #555;
        background: none;
        border: none;
        font-family: Lato;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 300;
        transition: background-color 0.3s, color 0.3s;
    }

    .news {

        padding-top: 20px;
    }
    .lancer {

        margin-top: 20px;
    }

    .commuter {

        margin-top: 20px;
        margin-bottom: 20px;
    }
    .de {

        position: static;
        height: 100px;
        width: 100px;
        margin: auto;
        margin-left: 50%;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);


    }


    .regle {
        display: none;
    }






}