* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

body {

	margin-right: 150px;
	margin-left: 150px;

}

.template{

    display: grid;
    height: 100vh;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:

    "nav "
    "header"
    "section"
    "footer"
     
    
    

;


}

.navbar {

    grid-area: nav;


}

.header {
    grid-area: header;
    
}

.lead {

    font-family: 'Indie Flower', cursive;
}

div > img {
    width: 120px;
    height: 150px;
}


.section {

    grid-area: section;
    font-family: lato;
    text-align: justify;


}

h5 {
    font-weight: bold;

    color: #3c3a3a;

}
h5:hover {

    transition: all 1s;
    color: #d7d7d7;
    padding: 4px;

}

.media > img {

    width: 90px;
    height: 50px;

}

.footer {
    grid-area: footer;
    height: 30px;

}

.footer-copyright {

    font-family: 'Long Cang', cursive;

}

.navbar-brand  {
    font-family: 'Long Cang', cursive;
}