body {

    font-family: "Comic Sans MS";
    font-size: 12px;
    margin-left: 150px;
    margin-right: 150px;
    animation-name: alignement;
    animation-duration: 1s;

}
@keyframes alignement {
    from {
        margin-left: -100%;
        margin-right: -100%;
    }to {
    margin-left: 150px;
    margin-right: 150px;
         }
}

header {

    display: flex;
    justify-content: space-between;

}

#photo {
    margin-top: 20px;
    width: 140px;
    height:160px;
}


article {

    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}


h2 {
    text-transform : uppercase;
    font-weight: bold;
}

#barre {

    background-color: #00b7ff;
    height: 5px;
    width: 300px;
}


footer{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}