


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}


body {

    background: #404040!important;
    font-family: 'Raleway',sans-serif!important;

}




.main {

    width: 100%;
    height: 100vh;
    background-color: #202020;
    position: absolute;
    top: 50px;




}

header {

    margin-top: 230px;
}

.h1 {

    letter-spacing: 6px;
    font-size: 82px;
}
.h1, .h4 {
    font-family: 'Raleway',sans-serif!important;
    color: #fff;

}

.h3 {
    font-family: 'Raleway',sans-serif!important;
    color: #fff;
    text-align: center;

}

.boutton {

    display: inline-block;
    font: 11px raleway, sans-serif !important;
    text-align: center;
    border: solid 1px rgba(148, 141, 141, .4) !important;
    border-radius: 50px !important;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif !important;
    margin-right: 14px;
    background-color: #202020;
    color: #fff;

}


.boutton:hover {

    transition:all 1s;
    background-color: #ffffff;
    color: #111;

}


.tw-ic, .fb-ic, .gplus-ic , .li-ic, .pin-ic, .ins-ic {

    color: #fff;

}


.footer-copyright {
    grid-area: footer;
    font-family: 'Raleway',sans-serif!important;
    color: #fff;

}




.navbar {

    width: 100%;
    height: 5rem;
    background-color: #202020;

}

.download {

    margin-left: 87%;
}

.hamburger-menu {

    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;


}.bar {

     width: 1.9rem ;
     height: 1.5px;
     border-radius: 2px;
     background-color: white;
     transition: 0.5s;
     position: relative;

 }

.bar:before, .bar:after{ /*contenu des enfants */

    content: "";   /*  utilisée avec les pseudo-éléments ::before et ::after et générer le contenu du parent --> .bar */
    position: absolute;
    width: inherit;    /*  heriter les propriétés  parent --> .bar */
    height: inherit;
    border-radius: inherit;
    background-color: white;
    transition: 0.5s;

}


.bar:before{

    transform: translateY(-9px);
}
.bar:after{

    transform: translateY(9px);
}


.template.active .bar {

    transform: rotate(360deg);
    background-color: transparent;
}

.template.active .bar:before{
    transform: translateY(0) rotate(45deg);
}

.template.active .bar:after{
    transform: translateY(0) rotate(-45deg);
}
.template.active .navbar
{
    background: #404040!important;
}

.template.active .main{


    box-shadow: 60px -16px rgba(0,0,0,0.09);
    animation: main 0.4s ease;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes  main {
    from{ transform: translate(0);}

    to{transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);}

}


.links {

    height: 79vh;
    width: 25%;
    left:0;
    display: none;

}

.template.active .links {

    display: block;


}



ul {
    list-style: none;
    text-decoration: none;
    position: relative;
    display: inline;
    top: 230px;
}



.links a {

    color: #ffffff;
    padding: 10px 0;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s;
    font-family: 'Raleway',sans-serif!important;
    display: block;
    text-align: center;



}



.links a:hover {

    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: #ffffff !important;

}




/*RESPONSIVE*/

@media only screen and (max-width: 600px) {



    html {
        background-color: white;
    }
    .template {

        background: white;
        margin-top: 300px;


    }
    .download {
        margin-left: 75px;
    }

.main {

    background-color: white;
    box-shadow: none;
    margin-top: 30px;
    position: absolute;

}

    header {

        display: block;
        box-sizing: border-box;
        margin-top: 40px;
        width: 250px;
        height: 230px;
        background-color: #1f1e1f;
        box-shadow: 60px -16px rgba(0,0,0,0.09);
        position: relative;

    }


    h1, h4 {

        letter-spacing: 0;
        font-size: 10px;
    }


    .button {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 30px;

    }

    span.boutton {
        display: block;
        margin-top: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding-top: 30px;
        list-style-type: none;
        text-decoration: none;
    }
    span.boutton:hover {

        list-style-type: none;
        text-decoration: none;
    }

    .template.active .main{

        animation: none;
        transform:none;
        position: relative;
        margin-top: 260px;
        box-shadow: none;

    }



    .template.active .links {

        transition: none;
        width: 100%;
        height: 310px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.09);
        animation: link;
        animation-duration: 1s;

    }
    @keyframes link {

        from {
            left: -350px;
        }

        to {
            left: 0;
        }
    }



   ul{

       list-style: none;
       text-decoration: none;
       top: 80px;
       left: 10px;
       background-color: white;


   }


    .links a {

        color: black;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        transition: none;
        font-family: 'Raleway',sans-serif!important;
        text-align: center;



    }

    .links a:hover {

        font-size: 20px;
        list-style: none;
        text-decoration: none;
        color: black;

    }



    .tw-ic, .fb-ic, .gplus-ic , .li-ic, .pin-ic, .ins-ic {

        color: black;

    }

.loader-container {

    display: none;
}
    .footer {
        margin-top: 30px;
        float: left;


    }
   /* fin @media querry */
}

